<p>Which of your child(ren) are coming along?</p>
<%= form_for [@playdate, @participation], :url => playdate_participations_path(@playdate.id) do |form| %>
	<% current_user.kids.distinct.each do |kid| %>
		<%= form.label "#{kid.name}" %>
		<input name="kid[][name]" type="checkbox" value="<%= kid.name %>" /><br/>
		<input name="kid[][id]" type="hidden" value="<%= kid.id%>" />
	<% end %>

	<div class="submit-field">
    <%= form.submit "Join this Playdate", :role => "button", :class => "btn btn-block btn-outline-dark" %>
  </div>
<% end %>