<%= form_for @kid do |form| %>
	<div class="text-field">
	  <%= form.label :name_of_child %>
	  <%= form.text_field :name, :autocomplete => "off" %>
	</div>

	<div class="text-field">
	  <%= form.label :age %>
	  <%= form.text_field :age, :autocomplete => "off" %>
	</div>

	<div class="text-field">
	  <%= form.label :gender %>
	  <%= form.text_field :gender, :autocomplete => "off" %>
	</div>

	<%= form.hidden_field :user_id, :value => current_user.id %>

	<div class="submit-field">
    <%= form.submit "Add Child", method: :post, :class => "btn btn-block btn-outline-dark" %>
  </div>
<% end %>
