<div class="container-fluid">

<h2 class="py-3">Admin Panel</h2>

<p><%= link_to "Switch to Playdates Page", playdates_path, :role => "button", :class => "btn-dark btn-lg" %></p>
<% if Forecast.count == nil %>
	<p><%= link_to "Set Weather Forecast Location for App", new_forecast_path, :role => "button", :class => "btn-dark btn-lg" %></p></br>
<% end %>

<h3>Reported reviews</h3>

<table class="table">
  <thead class="thead-dark">
  	<tr>
  		<th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Rating</th>
			<th scope="col">Reviewed by</th>
			<th scope="col">Reported by</th>
			<th scope="col">Unreport Review</th>
			<th scope="col">Remove reported review</th>
  	</tr>
	</thead>

	<tbody>
		<% Review.all.each do |review| %>
		<% if review.reported == true %>
			<tr>
				<th scope="row"><%= review.id %></th>
				<td><%= review.title %></td>
				<td><%= review.description %></td>
				<td><%= review.stars %></td>
				<td><%= review.user.email %></td>
				<td><%= User.find(review.reported_by_user_id).email %></td>
				<td><%= link_to 'Unreport review', unreport_path(review.id) %></td>
				<td><%= link_to 'Remove reported review', company_review_path(review.company_id, review.id), method: :delete, data:{confirm: "Are you sure?"} %></td>
			</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
</div>





