<div class="container-fluid">

<h2 class="py-3">Admin Panel</h2>

<p><%= link_to "Switch to Playdates Page", playdates_path, :role => "button", :class => "btn-dark btn-lg" %></p>
<% if Forecast.count == nil %>
	<p><%= link_to "Set Weather Forecast Location for App", new_forecast_path, :role => "button", :class => "btn-dark btn-lg" %></p></br>
<% end %>

<h3>Reported Users</h3>

<table class="table">
  <thead class="thead-dark">
  	<tr>
  		<th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
			<th scope="col">Reported by</th>
			<th scope="col">Unreport User</th>
			<th scope="col">Remove User</th>
  	</tr>
	</thead>

	<tbody>
		<% User.all.each do |user| %>
		<% if user.reported == true %>
			<tr>
				<th scope="row"><%= user.id %></th>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= User.find(user.reported_by_user_id).email %></td>
				<td><%= link_to 'Unreport User', unreport_path(user.id) %></td>
				<td><%= link_to 'Remove User', user_path(user.id), method: :delete, data:{confirm: "Are you sure?"} %></td>
			</tr>
		<% end %>
		<% end %>
	</tbody>
</table>
</div>





