<div>
	<% if Forecast.count != nil %>
	  <h4>Today's weather forecast: <%= Forecast.first.get_weather_data.currently.summary %>, with temperature <%= Forecast.first.get_weather_data.currently.temperature %>&deg;F. It's a good day for playdates!</h4><br/>
	<% end %>
</div>

<h2 class="text-center my-3">Playdates</h2>

<div class="container text-center">
	<h4>Narrow your search:</h4>

<!-- Filter search bar -->
    <%= form_with scope: :filter, url: search_path, method: :post, remote: true, class: "card p-1 mb-3" do |f| %>
      <div class="input-group">
        <%= f.search_field :playdate, placeholder: "Playdate location", list: "dropdown", class: "form-control" %>
        <datalist id="dropdown"></datalist>
        <div class="input-group-append">
          <%= f.submit "Search", class: "btn btn-warning btn-lg text-dark" %>
        </div>
      </div>
    <% end %>
</div>
<!-- Search bar ends -->

<% if logged_in? %>
	<h5 class="text-center">Didn't like anything you see? <%= link_to "Create your own playdate!", new_playdate_path %></h5><br/>
<% end %>

<div id ="feed-content" class="container-fluid pt-4">
	<div class="container">
		<div class="row">
			<!-- Set condition that playdates before current time are hidden from view -->
			<% Playdate.all.each do |playdate| %>
				<% if (playdate.datetime - Time.now) > 0 %>
						<div class="col-md-4 mb-4">
							<div class="card card-shadow text-center">
								<div class="card-header bg-light">
									<h3><%= playdate.title %></h3>
								</div>
								<div class="card-body">
									<p class="card-text"><%= playdate.description %> </p>
									<p class="card-text">Location: <%= playdate.location %></p>
									<% if logged_in? && (playdate.user_id == current_user.id || current_user.role == "admin") %>
										<p class="card-text">Address: <%= playdate.address %></p>
									<% else %>
										<p class="card-text text-danger">As a security measure, addresses will be shown to playdates participants only.</p>
									<% end %>
									<p class="card-text">Date & Time: <%= playdate.datetime %></p>
									<p class="card-text">Child(ren) attending: <%= playdate.participations.count %></p>
									<p class="card-text">Organized by: <%= link_to "#{playdate.user.first_name}", user_path(playdate.user_id) %></p>
									<% if current_user == nil %>
										<%= link_to 'Join this Playdate!', sign_up_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
									<% elsif playdate.user_id != current_user.id %>
										<%= link_to 'Join this Playdate!', new_playdate_participation_path(playdate.id), :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
									<% elsif playdate.user_id == current_user.id %>
										<p>This playdate is hosted by you.</p>
									<% end %>
								</div>
							</div>
						</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
