<h3 class="text-center my-3">Playdate <%= @playdate.title %> is organized by <%= @playdate.user.first_name %></h3>
<h4 class="text-center">on <%= @playdate.datetime %></h4>

<div class="container">
	<h1 class="text-center mt-4 text-shadow">Recent reviews, ordered by latest</h1>
	<div class="row">
		<% @playdate.reviews.order(created_at: :desc).each do |review| %>
		<div class="col-md-4 my-4">
			<div class="card card-shadow">
				<div class="card-body">
					<h5 class="card-title"><span>Title: </span><%= review.title %></h5>
					<p class="card-text"><span>Description: </span><%= review.description %></p>
					<p class="card-text"><span>Review by: </span><%= review.user.email %></p>
					<p class="card-text">
					<span>Ratings: 
					<% if review.stars == 5 %>
					<div class="star-color">
						<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
					</div>
					<% elsif review.stars == 4 %>
					<div>
						<i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star grey-star"></i>
					</div>
					<% elsif review.stars == 3 %>
					<div>
						<i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i>
					</div>
					<% elsif review.stars == 2 %>
					<div>
						<i class="fas fa-star star-color"></i><i class="fas fa-star star-color"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i>
					</div>
					<% elsif review.stars == 1 %>
					<div>
						<i class="fas fa-star star-color"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i><i class="fas fa-star grey-star"></i>
					</div>
					<% end %>
					</span></p>
				</div>
			</div>
		</div>
		<% end %>
	</div><br/>

<div class="mb-3">
<!-- Condition to allow user to review playdates only once & not the ones they hosted -->
<% if (@playdate.reviews.find_by(user_id: current_user.id) == nil) && (@playdate.user_id != current_user.id) %>
	<%= link_to 'Review Playdate', new_playdate_review_path(@playdate), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
<% end %>
	<%= link_to 'Back', user_path(current_user.id), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
</div>