<h6>Profile ID #: <%= @user.id %></h6>
<h5>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h5><br/>

<!-- Create own playdate -->
<% if current_user.id == @user.id %>
	<%= link_to "Create Playdate", new_playdate_path, :class => "btn btn-block btn-outline-dark" %>
<% end %>
<br />

<!-- Display own kids under user profile -->
<div class="container-fluid">
  <div class="container">
		<h4 class="text-center">Playdates organized by <%= @user.first_name %>:</h4><br/>
			<div class="card card-shadow">
				<div class="card-body text-center">
					<% @user.playdates.each do |playdate| %>
						<li>Title: <%= playdate.title %></li>
						<li>Location: <%= playdate.location %></li>
						<li>Address: <%= playdate.address %></li>
						<li>Date & Time:<%= playdate.datetime %></li><br/>
						<%= link_to 'Edit Playdate', edit_playdate_path(playdate.id), remote: true, :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
						<%= link_to 'Delete Playdate', root_path, method: :delete, remote: true, :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>

					<% end %>
				</div>
			</div>
	</div>
</div>

<!-- Display playdates attending -->

<!-- Display own kids under user profile -->
<div>
<h4><%= @user.first_name %>'s Children:</h4>
<% @user.kids.each do |kid| %>
	<li><%= kid.name %></li>
	<li><%= kid.age %></li>
	<li><%= kid.gender %></li><br/>
<% end %>
</div>

<!-- Set condition so only user can add kids to own profile -->
<% if current_user.id == @user.id %>
	<%= link_to "Add Child", new_kid_path, :class => "btn btn-block btn-outline-dark" %>
<% end %>
<br />