	<div class="d-flex justify-content-around mt-2">
			<div class="img col-sm-4">
				<% if @user.profilepic? %>
					<%= image_tag @user.profilepic_url.to_s, class: "rounded-circle img-fluid d-blockd" %> 
				<% else %>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvZ1oCnNqX6oaOklVlfeouKBK2DdGCA_wBdu6psjAlAcM-I-1e" class: "rounded-circle img-fluid d-block"> 
				<% end %>
			</div>

			<div class="col-sm-8 p-3 text-shadow text-right">
				<h1><%= @user.first_name %> <%= @user.last_name %></h1>
				<h5><%= @user.email %></h5>
				<h5><%= @user.bio %></h5></br>

				<% if logged_in? && @user.id == current_user.id %>
					<%= link_to "Edit Profile", edit_user_path(@user), method: :get %><br/>
					<%= link_to "Add Child", new_kid_path %><br/>
					<%= link_to "Create Playdate", new_playdate_path %><br/>
				<% end %>
				<%= link_to "View all Playdates", playdates_path %><br/>
			</div>
		</div>

<!-- Display own kids under user profile -->
<div class="container-fluid pt-4">
	<div class="container">
		<h4 class="text-center">Playdates organized by <%= @user.first_name %>:</h4><br/>
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card card-shadow text-center">
					<% @user.playdates.each do |playdate| %>
					<div class="card-header bg-light">
						<h3><%= playdate.title %></h3>
					</div>
					<div class="card-body">
						<p class="card-text"><%= playdate.description %> </p>
						<p class="card-text">Location: <%= playdate.location %></p>

						<% if playdate.user_id == current_user.id || current_user.role == "admin" %>
							<p class="card-text">Address: <%= playdate.address %></p>
						<% else %>
							<p class="card-text text-danger">As a security measure, addresses will be shown to playdates participants only.</p>
						<% end %>

						<p class="card-text">Date & Time: <%= playdate.datetime %></p>
						<p class="card-text">Child(ren) attending: <%= playdate.participations.count %></p>
							<% if @user.id == current_user.id && (playdate.datetime - Time.now) > 0 %>
								<%= link_to 'Edit Playdate', edit_playdate_path(playdate.id), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
								<%= link_to 'Delete Playdate', playdate_path(playdate.id), method: :delete, remote: true, :role => "button", :class => "btn btn-block btn-md btn-outline-dark", data: { confirm: 'Are you sure you want to delete this playdate?' } %>
							<% elsif @user.id != current_user.id && (playdate.datetime - Time.now) > 0 %>
									<%= link_to 'Join Playdate', new_playdate_participation_path(playdate.id), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
							<% elsif (playdate.datetime - Time.now) < 0 %>
								<%= link_to 'Show Reviews', playdate_path(playdate.id), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
							<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>


<!-- Display own kids under user profile. This will be hidden from other users. -->
<% if @user.id == current_user.id || @user.role == "admin" %>
	<div class="text-center">
		<h4><%= @user.first_name %>'s Children:</h4>
		<% @user.kids.each do |kid| %>
			<li><%= kid.name %></li>
			<li><%= kid.age %></li>
			<li><%= kid.gender %></li><br/>
		<div class="container-fluid">
		  <div class="container">
				<h4 class="text-center">Playdates attended by <%= kid.name %>:</h4><br/>
					<div class="card card-shadow">
						<div class="card-body text-center">
							<% kid.participations.each do |playdate| %>
								<li>Date & Time:<%= Playdate.find(playdate.playdate_id).datetime %></li>
								<li>Title: <%= Playdate.find(playdate.playdate_id).title %></li>
								<li>Location: <%= Playdate.find(playdate.playdate_id).location %></li>
								<% if @user.id == current_user.id || @user.role == "admin" %>
									<!-- Only make available full address to attendees & admin -->
									<li>Address: <%= Playdate.find(playdate.playdate_id).address %></li>
									<!-- Condition that attendance can only be cancelled for future dates -->
									<% if (Playdate.find(playdate.playdate_id).datetime - Time.now) > 0 %>
										<%= link_to 'Cancel Attendance', playdate_participation_path(playdate.playdate_id, playdate.id), method: :delete, remote: true, :role => "button", :class => "btn btn-block btn-md btn-outline-dark", data: { confirm: 'Are you sure you want to delete this playdate?' } %>
									<% elsif (Playdate.find(playdate.playdate_id).datetime - Time.now) < 0 && Playdate.find(playdate.playdate_id).reviews.user_id != current_user.id %>
										<%= link_to 'Review Playdate', new_playdate_review_path(playdate), :role => "button", :class => "btn btn-block btn-md btn-outline-dark" %>
									<% else %>
										<%= link_to "Show Reviews", playdate_path(Playdate.find(playdate.playdate_id)),:role => "button", :class => "btn btn-block btn-md btn-outline-dark" %> 
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
			</div>
		</div>
	<% end %>
	</div>
<% end %>


