<header class="jumbotron section section-first bg-overlay-parent" id="founders-story-header">
  <div class="bg-overlay bg-base02-trans">
    <div class="bg-overlay-contents">
      <div class="container">
        <div class="row">
          <article class="col-sm-10 offset-sm-1 text-center" id="header-article">
            <h1 class="text-uppercase text-light">Discover the joys of growing up</h1>
            <h3 class="text-light jumbotron-subheading">One playdate at a time</h3><br />
            <p><a class="btn btn-primary btn-lg text-dark" href="sign_up" role="button">Join us today!</a></p>
            <p><a class="btn btn-primary btn-lg text-dark" href="sign_in" role="button">Sign In</a></p>
          </article>
        </div>
      </div>
    </div>
  </div>



<% if Playdate.count != nil %>
<div class="container-fluid pt-4">
  <div class="container">
    <h1 class="text-center text-white">Latest Playdates</h1>
    <h5 class="text-center text-white">Want to see more? <%= link_to "See all Playdates", playdates_path %></h5><br/>
    <div class="row">
    <% Playdate.all.order(created_at: :desc).limit(3).each do |playdate| %>
        <div class="col-md-4 mb-4">
          <div class="card card-shadow text-center">
            <div class="card-header bg-primary">
              <h3 class="text-dark"><%= playdate.title %></h3>
            </div>
            <div class="card-body">
              <p class="card-text"><%= playdate.description %> </p>
              <p class="card-text">Location: <%= playdate.location %></p>
              <p class="card-text">Date & Time: <%= playdate.datetime %></p>
              <% if current_user == nil %>
                <%= link_to 'Join this Playdate!', sign_up_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
              <% else %>
                <%= link_to 'Join this Playdate!', new_playdate_participation_path(playdate.id), :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>
</header>