<header class="jumbotron section section-first bg-overlay-parent" id="founders-story-header">
  <div class="bg-overlay bg-base02-trans">
    <div class="bg-overlay-contents">
      <div class="container">
        <div class="row">
          <article class="col-sm-10 offset-sm-1 text-center" id="header-article">
            <h1 class="text-uppercase text-light">Discover the joys of growing up</h1>
            <h3 class="text-light jumbotron-subheading">One playdate at a time</h3><br />
            <p><a class="btn btn-primary btn-lg text-dark" href="sign_up" role="button">Join us today!</a></p>
            <p><a class="btn btn-primary btn-lg text-dark" href="sign_in" role="button">Sign In</a></p>
          </article>
        </div>
      </div>
    </div>
  </div>
</header>

<div>
  <%= link_to "See all Playdates", playdates_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark" %>
</div>

<div class="container-fluid content">
  <div class="content-container">
    <div data-aos="fade-down" data-aos-duration="3000">
      <h1 class="text-white">Latest Playdates</h1>
    </div>
    <div class="row">
    <% Playdate.all.order(created_at: :desc).limit(3).each do |playdate| %>
      <div class="card card-shadow text-center">
        <div class="card-body">
          <!-- <img src="https://s3-ap-southeast-1.amazonaws.com/pizzahutmy/menu/BlazingSeafood-L-1486726693.png" alt=""> -->
          <p class="card-text">Playdate: <%= playdate.description %></p>
          <p class="card-text">Location: <%= playdate.location %></p>
          <p class="card-text">Organized by: <%= link_to "#{playdate.user.first_name}", user_path(playdate.user_id) %></p>
          <%= link_to 'I want to attend!', sign_up_path, :role => "button", :class => "btn btn-block btn-lg btn-outline-dark"  %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>