<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tea And Tots</title>

    <!-- Link to Bootstrap/Bootswatch -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-ZCyhLHmqgPJ/qW/xn+zQu7JrywSUOgV7SkjrnkGDss+6/qs+4SPDrS6qq4IOG0N9" crossorigin="anonymous">

    <!-- Link to Awesome Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Set viewport meta-->
    <meta name="viewport" content="width= device-width, initial-scale= 1.0" />

    <!-- Application.css -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <!-- Start of Navbar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP9oeUb7hvoBDEk2t0eAv7n133FHQMXXTyCZ5DMfNHyymCd4NF" width="40" height="40" style="border: 1px solid darkgrey;"> Tea and Tots</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
             <a class="nav-link" href="/welcome/about">About</a>
            </li>
            <li class="nav-item active justify-right">
             <a class="nav-link" href="/users">Meet other Parents</a>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <% if logged_in? %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Sign Out", sign_out_path, :class => "dropdown-item", method: :delete %>
                <%= link_to "My Profile", user_path(current_user.id), :class => "dropdown-item" %>
                <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="sign_in">Sign In</a>
                  <a class="dropdown-item" href="#">Sign In With Google</a> -->
                </div>
              <% end %>
            </li>
        </ul>
        </div>
    </nav>
    <!-- End of Navbar -->

  <!-- Start of Flash Message -->
  <div class="container-fluid bg-win">
    <div id="flash" class="container text-center">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
  </div>
  <!-- End of Flash Message -->

    <%= yield %>


  <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!-- Application.js-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--  -->
    
  </body>
  <footer class="py-2 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-dark">Copyright &copy; Tea & Tots 2018</p>
    </div>
  </footer>
</html>
